In [115]:
import wrf_management.utilities as ut
import importlib
importlib.reload(ut);
import wrf_management.project_global_constants as gc
importlib.reload(gc)
import wrf_management.geogrid as geo
import os
import sqlite3 as sq
import pandas as pd

In [107]:
gc.PATH_DB

'/tmp/wrf_management/db_folder/wrf_man.sqlite'

In [108]:
con = sq.connect(gc.PATH_DB)

In [109]:
pd.read_sql('select * from sqlite_master',con)

,type,name,tbl_name,rootpage,sql
0,table,master_date,master_date,2,"CREATE TABLE ""master_date"" (\n""date"" TIMESTAMP..."
1,index,ix_master_date_date,master_date,3,"CREATE INDEX ""ix_master_date_date""ON ""master_d..."
2,table,press,press,8,"CREATE TABLE ""press"" (\n""date"" TEXT,\n ""i"" IN..."
3,index,ix_press_date,press,9,"CREATE INDEX ""ix_press_date""ON ""press"" (""date"")"
4,table,surf_0,surf_0,14,"CREATE TABLE ""surf_0"" (\n""date"" TEXT,\n ""i"" I..."
5,index,ix_surf_0_date,surf_0,15,"CREATE INDEX ""ix_surf_0_date""ON ""surf_0"" (""date"")"
6,table,surf_1,surf_1,20,"CREATE TABLE ""surf_1"" (\n""date"" TEXT,\n ""i"" I..."
7,index,ix_surf_1_date,surf_1,21,"CREATE INDEX ""ix_surf_1_date""ON ""surf_1"" (""date"")"

In [114]:
df = pd.DataFrame(
    [{
        'run_name':gc.RUN_NAME,
        'unique_id':'2019-02-21T15-04-27_476148_geogrid',
        'pogram':'geogrid',
        'comments':'exploring geogrid',
     }]
)
df

            comments   pogram    run_name                           unique_id
0  exploring geogrid  geogrid  2018_02_19  2019-02-21T15-04-27_476148_geogrid

In [111]:
df.to_sql(gc.RUNS_TB_NAME,con)

In [60]:
run_path = ut.get_run_data_path()
os.makedirs(run_path)

In [61]:
import datetime as dt

In [89]:
unique_id = ut.get_unique_id()

In [90]:
unique_id

'2019-02-21T15-04-27_476148'

In [112]:
ut.list_table_names()

      tbl_name
0  master_date
1        press
2       surf_0
3       surf_1
4   runs_table