In [428]:
import wrf_management.utilities as ut
import importlib
importlib.reload(ut);
import wrf_management.project_global_constants as gc
importlib.reload(gc)
import wrf_management.geogrid as geo
import os
import sqlite3 as sq
import pandas as pd
import wrf_management.base_namelists.base_namelists as bn
importlib.reload(bn);
import f90nml

In [429]:
gc.PATH_DB

'/tmp/wrf_management/db_folder/wrf_man.sqlite'

In [430]:
con = sq.connect(gc.PATH_DB)

In [431]:
pd.read_sql('select * from sqlite_master',con)

,type,name,tbl_name,rootpage,sql
0,table,master_date,master_date,2,"CREATE TABLE ""master_date"" (\n""date"" TIMESTAMP..."
1,index,ix_master_date_date,master_date,3,"CREATE INDEX ""ix_master_date_date""ON ""master_d..."
2,table,runs_table,runs_table,29,"CREATE TABLE ""runs_table"" (\n""index"" INTEGER,\..."
3,index,ix_runs_table_index,runs_table,30,"CREATE INDEX ""ix_runs_table_index""ON ""runs_tab..."
4,table,run_unique_id,run_unique_id,33,"CREATE TABLE ""run_unique_id"" (\n\t""unique_id""\..."
5,index,sqlite_autoindex_run_unique_id_1,run_unique_id,34,None
6,index,ix_run_unique_id_unique_id,run_unique_id,31,"CREATE INDEX ""ix_run_unique_id_unique_id"" ON ""..."
7,table,press,press,11,"CREATE TABLE ""press"" (\n\t""date""\tTIMESTAMP,\n..."
8,index,ix_press_date,press,8,"CREATE INDEX ""ix_press_date"" ON ""press"" (\n\t""..."
9,table,surf_0,surf_0,17,"CREATE TABLE ""surf_0"" (\n\t""date""\tTIMESTAMP,\..."
10,index,sqlite_autoindex_surf_0_1,surf_0,19,None
11,index,ix_surf_0_date,surf_0,14,"CREATE INDEX ""ix_surf_0_date"" ON ""surf_0"" (\n\..."
12,table,surf_1,surf_1,23,"CREATE TABLE ""surf_1"" (\n\t""date""\tTIMESTAMP,\..."
13,index,sqlite_autoindex_surf_1_1,surf_1,25,None
14,index,ix_surf_1_date,surf_1,20,"CREATE INDEX ""ix_surf_1_date"" ON ""surf_1"" (\n\..."

In [432]:
df = pd.DataFrame(
    [{
        'run_name':gc.RUN_NAME,
        'unique_id':'2019-02-21T15-04-27_476148_geogrid',
        'program':'geogrid',
        'comments':'exploring geogrid',
     }]
)
df=df.set_index('unique_id')

In [433]:
# df.to_sql(gc.UNIQUE_ID_RUN_TB_NAME,con,if_exists='replace',index_label='unique_id')

In [434]:
run_path = ut.get_run_data_path()
os.makedirs(run_path, exist_ok=True)

In [435]:
import datetime as dt

In [436]:
unique_id = ut.get_unique_id()

TypeError: get_unique_id() missing 1 required positional argument: 'program'

In [90]:
unique_id

'2019-02-21T15-04-27_476148'

In [437]:
ut.list_table_names()

        tbl_name
0    master_date
1     runs_table
2  run_unique_id
3          press
4         surf_0
5         surf_1

In [439]:
df = ut.get_tb_from_name(tb_name='run_unique_id')

In [440]:
df

,unique_id,comments,program,run_name
0,2019-02-21T15-04-27_476148_geogrid,exploring geogrid. didnt work as expected,geogrid,2018_02_19
1,2019-02-21T17-29-01_753696_ungrib_ungrib,first run,ungrib,2018_02_19

In [124]:
path = '/private/tmp/wrf_management/data_folder/runs/2018_02_19/2019-02-21T15-04-27_476148_geogrid/namelist.wps'

In [147]:
importlib.reload(bn);
o1,o2,o3 = bn.sanity_check(path_wps=path,path_wrf='../config_dir/run_2018_02_19/namelist.wps')

In [148]:
o1

False

In [152]:
o2[o2['pass'] == False]

                                  d1                    d2   pass
e_sn             [86, 205, 214, 151]    [86, 205, 214, 79]  False
e_we            [118, 253, 274, 154]  [118, 253, 274, 100]  False
i_parent_start       [1, 28, 80, 61]       [1, 28, 80, 65]  False
j_parent_start      [1, 18, 65, 110]      [1, 18, 65, 132]  False
stand_lon                      -66.3                -68.13  False

In [234]:
in_path = '../config_dir/2018_02_19/namelist.wps'
ou_path = '/tmp/borrar.wps'
importlib.reload(geo)
geo.skim_namelist(in_path, ou_path)

OrderedDict([('share',
              Namelist([('wrf_core', 'ARW'),
                        ('max_dom', 4),
                        ('io_form_geogrid', 2)])),
             ('geogrid',
              Namelist([('parent_id', [1, 1, 2, 3]),
                        ('parent_grid_ratio', [1, 4, 3, 3]),
                        ('i_parent_start', [1, 28, 80, 61]),
                        ('j_parent_start', [1, 18, 65, 110]),
                        ('e_we', [118, 253, 274, 154]),
                        ('e_sn', [86, 205, 214, 151]),
                        ('geog_data_res',
                         ['default', 'default', 'default', 'default']),
                        ('dx', 38000),
                        ('dy', 38000),
                        ('map_proj', 'mercator'),
                        ('ref_lat', -17),
                        ('ref_lon', -66.3),
                        ('truelat1', 30.0),
                        ('truelat2', 60.0),
                        ('stand_lon', -66.3),
                        ('geog_data_path', '/proj/atm/WRF/WPS_GEOG/')]))])

In [252]:
ut.get_tb_from_name(tb_name='run_unique_id')

,index,comments,pogram,run_name,unique_id
0,0,exploring geogrid,geogrid,2018_02_19,2019-02-21T15-04-27_476148_geogrid

In [236]:
UID = '2019-02-21T15-04-27_476148_geogrid'

In [241]:
upath = os.path.join(gc.PATH_DATA,'runs','2018_02_19',UID)
print(upath)
ou_path = os.path.join(upath,'namelist.wps')

/tmp/wrf_management/data_folder/runs/2018_02_19/2019-02-21T15-04-27_476148_geogrid

In [243]:
os.remove(ou_path)
geo.skim_namelist(in_path,ou_path)

OrderedDict([('share',
              Namelist([('wrf_core', 'ARW'),
                        ('max_dom', 4),
                        ('io_form_geogrid', 2)])),
             ('geogrid',
              Namelist([('parent_id', [1, 1, 2, 3]),
                        ('parent_grid_ratio', [1, 4, 3, 3]),
                        ('i_parent_start', [1, 28, 80, 61]),
                        ('j_parent_start', [1, 18, 65, 110]),
                        ('e_we', [118, 253, 274, 154]),
                        ('e_sn', [86, 205, 214, 151]),
                        ('geog_data_res',
                         ['default', 'default', 'default', 'default']),
                        ('dx', 38000),
                        ('dy', 38000),
                        ('map_proj', 'mercator'),
                        ('ref_lat', -17),
                        ('ref_lon', -66.3),
                        ('truelat1', 30.0),
                        ('truelat2', 60.0),
                        ('stand_lon', -66.3),
                        ('geog_data_path', '/proj/atm/WRF/WPS_GEOG/')]))])

In [385]:
importlib.reload(ut)
program = 'ungrib'
unique_id = ut.get_unique_id(program)
print(unique_id)
unique_id = '2019-02-21T17-29-01_753696_ungrib'

2019-02-21T19-07-34_958530_ungrib

In [386]:
importlib.reload(ut)
new_path = ut.get_new_unique_path_for_program(unique_id=unique_id)
print(new_path)
new_path = '/tmp/wrf_management/data_folder/runs/2018_02_19/2019-02-21T17-29-01_753696_ungrib'

/tmp/wrf_management/data_folder/runs/2018_02_19/2019-02-21T17-29-01_753696_ungrib

In [387]:
importlib.reload(ut)
ut.add_unique_id_run_db(unique_id=unique_id+'_ungrib',program_nm='ungrib',comment='first run')
con.commit()

    insert into run_unique_id
    (comments, program, run_name, unique_id)
    values
    ('first run', 'ungrib', '2018_02_19', '2019-02-21T17-29-01_753696_ungrib_ungrib')

In [388]:
ut.get_tb_from_name(tb_name='run_unique_id')

,unique_id,comments,program,run_name
0,2019-02-21T15-04-27_476148_geogrid,exploring geogrid,geogrid,2018_02_19
1,2019-02-21T17-29-01_753696_ungrib_ungrib,first run,ungrib,2018_02_19

In [294]:
ut.list_table_names()

        tbl_name
0    master_date
1          press
2         surf_0
3         surf_1
4     runs_table
5  run_unique_id

In [301]:
date_to_ungrib = '2017-12-15'

In [337]:
rows = {}
for tb in gc.FILE_TYPES.keys():
#     print(tb)
    sql = """
    select * from {tb} where date(date)=date('{dt}')
    """.format(tb=tb,dt=date_to_ungrib)
    rows[tb]=pd.read_sql(sql,con)
    rows[tb]['tb']=tb
df = pd.concat(list(rows.values()))
if df.downloaded.all()!=True: print('not all downloaded')
df

,date,i,downloaded,name,untarred,tb
0,2017-12-15 00:00:00,14,1,cdas1.20171215.pgrbh.tar,0,press
0,2017-12-15 00:00:00,14,1,cdas1.20171215.splgrbf.tar,0,surf_0
0,2017-12-15 00:00:00,14,1,cdas1.20171215.sfluxgrbf.tar,0,surf_1

In [365]:
df['tar_path']=df.apply(lambda r: os.path.join(ut.get_tar_path(r.tb),r['name']),
         axis = 1)
df['untar_path']=df.apply(lambda r: new_path,
         axis = 1)
row = df.iloc[0]
df

,date,i,downloaded,name,untarred,tb,untar_path,tar_path
0,2017-12-15 00:00:00,14,1,cdas1.20171215.pgrbh.tar,0,press,/tmp/wrf_management/data_folder/runs/2018_02_1...,/tmp/wrf_management/data_folder/press_tar/cdas...
0,2017-12-15 00:00:00,14,1,cdas1.20171215.splgrbf.tar,0,surf_0,/tmp/wrf_management/data_folder/runs/2018_02_1...,/tmp/wrf_management/data_folder/surf_0_tar/cda...
0,2017-12-15 00:00:00,14,1,cdas1.20171215.sfluxgrbf.tar,0,surf_1,/tmp/wrf_management/data_folder/runs/2018_02_1...,/tmp/wrf_management/data_folder/surf_1_tar/cda...

In [368]:
import tarfile
tfile = tarfile.TarFile(row.tar_path)

In [371]:
tfile.extractall(row.untar_path)

KeyboardInterrupt:

In [373]:
con.close()

In [424]:
import f90nml
from collections import OrderedDict


def skim_namelist(
        input_path, output_path, *,date, prefix
    ):
    old_dic = f90nml.read(input_path)
    
    dt_object = pd.to_datetime(date)
    d_init = dt_object.strftime('%Y-%m-%d_%T')
    d_end = dt_object + pd.DateOffset(hours=18)
    d_end = d_end.strftime('%Y-%m-%d_%T')
    
    old_dic['share']['start_date']=old_dic['share']['max_dom']*[d_init]
    old_dic['share']['end_date']=old_dic['share']['max_dom']*[d_end]
    old_dic['share']['interval_seconds']=6*3600
    old_dic['ungrib']['prefix']=prefix
    sections = ['share','ungrib']
    drops = {}
    new_dic = OrderedDict()
    for s in sections:
        new_dic[s]= old_dic[s]
        if s in drops.keys():
            for d in drops[s]:
                new_dic[s].pop(d)
    f90nml.write(new_dic, output_path)
    return new_dic

In [427]:
try:os.remove('/tmp/borrar')
except:pass    
skim_namelist('../config_dir/2018_02_19/namelist.wps','/tmp/borrar',date=date_to_ungrib,prefix='PRESSURE')

OrderedDict([('share',
              Namelist([('wrf_core', 'ARW'),
                        ('max_dom', 4),
                        ('start_date',
                         ['2017-12-15_00:00:00',
                          '2017-12-15_00:00:00',
                          '2017-12-15_00:00:00',
                          '2017-12-15_00:00:00']),
                        ('end_date',
                         ['2017-12-15_18:00:00',
                          '2017-12-15_18:00:00',
                          '2017-12-15_18:00:00',
                          '2017-12-15_18:00:00']),
                        ('interval_seconds', 21600),
                        ('io_form_geogrid', 2)])),
             ('ungrib',
              Namelist([('out_format', 'WPS'), ('prefix', 'PRESSURE')]))])

In [398]:
date_to_ungrib = '2017-12-15' 
date = date_to_ungrib

In [405]:
dt_object = pd.to_datetime(date)
d_init = dt_object.strftime('%Y-%m-%d_%T')

In [411]:
d_end = dt_object + pd.DateOffset(hours=18)
d_end = d_end.strftime('%Y-%m-%d_%T')
d_end

'2017-12-15_18:00:00'