In [1]:
import wrf_management.utilities as ut
import wrf_management.project_global_constants as gc

In [2]:
ut.create_date_db(override=True)

could not create the table maybe it exists already

In [3]:
ut.get_date_tb().sample()

                      i
date
2018-01-10 00:00:00  40

In [4]:
for k in gc.FILE_TYPES:
    print(k)
    ut.create_download_db(db_name=k,override=True)

press
could not create. it might exist already
surf_0
could not create. it might exist already
surf_1
could not create. it might exist already

In [ ]:
i=0
ii = 10
min_date = '2018-01'
while i < ii:
    for ftype in gc.FILE_TYPES:
        print(ftype)
        row = ut.get_next_row_to_down(tb_name=ftype,min_date=min_date)
        down_str = ut.get_down_string_from_row(row=row,ftype=ftype)
        print(down_str)
        tar_path = ut.get_tar_path(ftype)
        print(tar_path)
        res = ut.down_file_from_str(down_str,tar_path)
        if res:
            ut.update_sucess_down(row=row,tb_name=ftype)
            ut.update_row_name(row=row,tb_name=ftype,down_string=down_str)
    i=i+1