In [41]:
# imports
import pandas as pd
from wrf_management import project_global_constants as gc
import importlib
importlib.reload(gc)

In [34]:
date_index = pd.date_range(
    start = gc.INIT_DATE ,
    end   = gc.END_DATE
)

df = pd.DataFrame(date_index, columns=['date'])
df = df.reset_index()
df = df.set_index('date')
df = df.rename(columns={'index':'i'})
df['downloaded'    ] = False
df['ungribed'    ] = False
df['metgrided'    ] = False
df.sample(5)

              i  downloaded
date
2018-04-30  150       False
2018-02-08   69       False
2018-05-21  171       False
2017-12-15   14       False
2017-12-14   13       False

In [39]:
tmp_path = '/tmp/path.csv'
df.to_csv(tmp_path)
df_readed = pd.read_csv(tmp_path)

In [42]:
gc.PATH_DATA

'/tmp/data/'

In [52]:
import os
os.makedirs(gc.PATH_DATA,exist_ok=True)

In [55]:
import wrf_management.utilities as ut
importlib.reload(ut);

In [58]:
df = ut.create_date_db(gc.INIT_DATE, gc.END_DATE, gc.PATH_DB, override=True)

In [59]:
df

              i
date
2017-12-01    0
2017-12-02    1
2017-12-03    2
2017-12-04    3
2017-12-05    4
2017-12-06    5
2017-12-07    6
2017-12-08    7
2017-12-09    8
2017-12-10    9
2017-12-11   10
2017-12-12   11
2017-12-13   12
2017-12-14   13
2017-12-15   14
2017-12-16   15
2017-12-17   16
2017-12-18   17
2017-12-19   18
2017-12-20   19
2017-12-21   20
2017-12-22   21
2017-12-23   22
2017-12-24   23
2017-12-25   24
2017-12-26   25
2017-12-27   26
2017-12-28   27
2017-12-29   28
2017-12-30   29
...         ...
2018-05-03  153
2018-05-04  154
2018-05-05  155
2018-05-06  156
2018-05-07  157
2018-05-08  158
2018-05-09  159
2018-05-10  160
2018-05-11  161
2018-05-12  162
2018-05-13  163
2018-05-14  164
2018-05-15  165
2018-05-16  166
2018-05-17  167
2018-05-18  168
2018-05-19  169
2018-05-20  170
2018-05-21  171
2018-05-22  172
2018-05-23  173
2018-05-24  174
2018-05-25  175
2018-05-26  176
2018-05-27  177
2018-05-28  178
2018-05-29  179
2018-05-30  180
2018-05-31  181
2018-06-01  182

[183 rows x 1 columns]