In [6]:
# imports
import pandas as pd
from wrf_management import project_global_constants as gc
import sqlite3 as sq
import importlib
importlib.reload(gc)

In [14]:
import wrf_management.utilities as ut
importlib.reload(gc);
importlib.reload(ut);

In [8]:
con = sq.connect(gc.PATH_DB)

In [9]:
pd.read_sql('select * from sqlite_master',con)

,type,name,tbl_name,rootpage,sql
0,table,master_date,master_date,2,"CREATE TABLE ""master_date"" (\n""date"" TIMESTAMP..."
1,index,ix_master_date_date,master_date,3,"CREATE INDEX ""ix_master_date_date""ON ""master_d..."
2,table,press,press,8,"CREATE TABLE ""press"" (\n""date"" TEXT,\n ""i"" IN..."
3,index,ix_press_date,press,9,"CREATE INDEX ""ix_press_date""ON ""press"" (""date"")"
4,table,surf_0,surf_0,14,"CREATE TABLE ""surf_0"" (\n""date"" TEXT,\n ""i"" I..."
5,index,ix_surf_0_date,surf_0,15,"CREATE INDEX ""ix_surf_0_date""ON ""surf_0"" (""date"")"
6,table,surf_1,surf_1,20,"CREATE TABLE ""surf_1"" (\n""date"" TEXT,\n ""i"" I..."
7,index,ix_surf_1_date,surf_1,21,"CREATE INDEX ""ix_surf_1_date""ON ""surf_1"" (""date"")"

In [10]:
ut.get_tb_from_name(tb_name='press').sample()

                       i  downloaded name  untarred
date
2018-03-24 00:00:00  113           0    0         0

In [17]:
ftype = 'surf_0'
row = ut.get_next_row_to_down(tb_name=ftype,min_date='2018-01')
row

date          2018-01-01 00:00:00
i                              31
downloaded                      0
name                            0
untarred                        0
Name: 0, dtype: object

In [353]:
importlib.reload(gc);
importlib.reload(ut);

In [354]:
down_str = ut.get_down_string_from_row(row=row,ftype=ftype)
print(down_str)
tar_path = ut.get_tar_path(ftype) 
print(tar_path)

2017/cdas1.20171201.splgrbf.tar
/tmp/data/surf_0_tar

In [355]:
res = ut.down_file_from_str(down_str,tar_path)

processor <urllib.request.HTTPCookieProcessor object at 0x1c22f6e780>
<urllib.request.OpenerDirector object at 0x1c22f6e160>
downloading cdas1.20171201.splgrbf.tar...

In [356]:
if res:
    ut.update_sucess_down(row=row,tb_name=ftype)
    ut.update_row_name(row=row,tb_name=ftype,down_string=down_str)

        update surf_0
        set downloaded=1
        where i=0


        update surf_0
        set name='cdas1.20171201.splgrbf.tar'
        where i=0

In [357]:
ut.get_tb_from_name(tb_name=ftype)[:2]

                     i  downloaded                        name  untarred
date
2017-12-01 00:00:00  0           1  cdas1.20171201.splgrbf.tar         0
2017-12-02 00:00:00  1           0                           0         0

In [331]:
tar_path = dow_dir
print(tar_path)

/tmp/data/surf_0/tar

In [333]:
os.path.basename(down_str)

'cdas1.20171201.splgrbf.tar'

In [358]:
import platform

In [359]:
platform.platform()

'Darwin-18.5.0-x86_64-i386-64bit'

In [365]:
ID = None
try:
    import wrf_management.pc_id as pc_id
    ID = pc_id.ID 
except: 
    print('no pc id found. create a pc_id.py file in the root of the package with constant ID')
print(ID)

mac_diego