In [41]:
# imports
import pandas as pd
from wrf_management import project_global_constants as gc
import importlib
importlib.reload(gc)

In [34]:
date_index = pd.date_range(
    start = gc.INIT_DATE ,
    end   = gc.END_DATE
)

df = pd.DataFrame(date_index, columns=['date'])
df = df.reset_index()
df = df.set_index('date')
df = df.rename(columns={'index':'i'})
df['downloaded'    ] = False
df['ungribed'    ] = False
df['metgrided'    ] = False
df.sample(5)

              i  downloaded
date
2018-04-30  150       False
2018-02-08   69       False
2018-05-21  171       False
2017-12-15   14       False
2017-12-14   13       False

In [39]:
tmp_path = '/tmp/path.csv'
df.to_csv(tmp_path)
df_readed = pd.read_csv(tmp_path)

In [42]:
gc.PATH_DATA

'/tmp/data/'

In [52]:
import os
os.makedirs(gc.PATH_DATA,exist_ok=True)

In [176]:
import wrf_management.utilities as ut
importlib.reload(gc);
importlib.reload(ut);

In [162]:
ut.create_date_db(override=True)

could not create the table maybe it exists already

In [163]:
ut.get_date_tb().sample()

                      i
date
2018-01-15 00:00:00  45

In [164]:
ut.create_download_db(db_name='borrar')

could not create. it might exist already

In [165]:
down_dbs = {}
for k in gc.FILE_TYPES:
    print(k)
    down_dbs[k]=ut.create_download_db(db_name=k,override=True)

press
surf_0
surf_1

In [166]:
con = sq.connect(gc.PATH_DB)

In [175]:
pd.read_sql('select * from sqlite_master',con)

,type,name,tbl_name,rootpage,sql
0,table,master_date,master_date,2,"CREATE TABLE ""master_date"" (\n""date"" TIMESTAMP..."
1,index,ix_master_date_date,master_date,3,"CREATE INDEX ""ix_master_date_date""ON ""master_d..."
2,table,press,press,14,"CREATE TABLE ""press"" (\n""date"" TEXT,\n ""i"" IN..."
3,index,ix_press_date,press,15,"CREATE INDEX ""ix_press_date""ON ""press"" (""date"")"
4,table,surf_0,surf_0,20,"CREATE TABLE ""surf_0"" (\n""date"" TEXT,\n ""i"" I..."
5,index,ix_surf_0_date,surf_0,21,"CREATE INDEX ""ix_surf_0_date""ON ""surf_0"" (""date"")"
6,table,surf_1,surf_1,26,"CREATE TABLE ""surf_1"" (\n""date"" TEXT,\n ""i"" I..."
7,index,ix_surf_1_date,surf_1,27,"CREATE INDEX ""ix_surf_1_date""ON ""surf_1"" (""date"")"

In [177]:
ut.get_tb_from_name(tb_name='press')

                       i  downloaded  path  name  uncompress  uncompress_path
date
2017-12-01 00:00:00    0           0     0     0           0                0
2017-12-02 00:00:00    1           0     0     0           0                0
2017-12-03 00:00:00    2           0     0     0           0                0
2017-12-04 00:00:00    3           0     0     0           0                0
2017-12-05 00:00:00    4           0     0     0           0                0
2017-12-06 00:00:00    5           0     0     0           0                0
2017-12-07 00:00:00    6           0     0     0           0                0
2017-12-08 00:00:00    7           0     0     0           0                0
2017-12-09 00:00:00    8           0     0     0           0                0
2017-12-10 00:00:00    9           0     0     0           0                0
2017-12-11 00:00:00   10           0     0     0           0                0
2017-12-12 00:00:00   11           0     0     0           0                0
2017-12-13 00:00:00   12           0     0     0           0                0
2017-12-14 00:00:00   13           0     0     0           0                0
2017-12-15 00:00:00   14           0     0     0           0                0
2017-12-16 00:00:00   15           0     0     0           0                0
2017-12-17 00:00:00   16           0     0     0           0                0
2017-12-18 00:00:00   17           0     0     0           0                0
2017-12-19 00:00:00   18           0     0     0           0                0
2017-12-20 00:00:00   19           0     0     0           0                0
2017-12-21 00:00:00   20           0     0     0           0                0
2017-12-22 00:00:00   21           0     0     0           0                0
2017-12-23 00:00:00   22           0     0     0           0                0
2017-12-24 00:00:00   23           0     0     0           0                0
2017-12-25 00:00:00   24           0     0     0           0                0
2017-12-26 00:00:00   25           0     0     0           0                0
2017-12-27 00:00:00   26           0     0     0           0                0
2017-12-28 00:00:00   27           0     0     0           0                0
2017-12-29 00:00:00   28           0     0     0           0                0
2017-12-30 00:00:00   29           0     0     0           0                0
...                  ...         ...   ...   ...         ...              ...
2018-05-03 00:00:00  153           0     0     0           0                0
2018-05-04 00:00:00  154           0     0     0           0                0
2018-05-05 00:00:00  155           0     0     0           0                0
2018-05-06 00:00:00  156           0     0     0           0                0
2018-05-07 00:00:00  157           0     0     0           0                0
2018-05-08 00:00:00  158           0     0     0           0                0
2018-05-09 00:00:00  159           0     0     0           0                0
2018-05-10 00:00:00  160           0     0     0           0                0
2018-05-11 00:00:00  161           0     0     0           0                0
2018-05-12 00:00:00  162           0     0     0           0                0
2018-05-13 00:00:00  163           0     0     0           0                0
2018-05-14 00:00:00  164           0     0     0           0                0
2018-05-15 00:00:00  165           0     0     0           0                0
2018-05-16 00:00:00  166           0     0     0           0                0
2018-05-17 00:00:00  167           0     0     0           0                0
2018-05-18 00:00:00  168           0     0     0           0                0
2018-05-19 00:00:00  169           0     0     0           0                0
2018-05-20 00:00:00  170           0     0     0           0                0
2018-05-21 00:00:00  171           0     0     0           0                0
2018-05-22 00:00:00  172           0     0     0           0                0
2018-05-23 00:00:00  173           0     0     0           0                0
2018-05-24 00:00:00  174           0     0     0           0                0
2018-05-25 00:00:00  175           0     0     0           0                0
2018-05-26 00:00:00  176           0     0     0           0                0
2018-05-27 00:00:00  177           0     0     0           0                0
2018-05-28 00:00:00  178           0     0     0           0                0
2018-05-29 00:00:00  179           0     0     0           0                0
2018-05-30 00:00:00  180           0     0     0           0                0
2018-05-31 00:00:00  181           0     0     0           0                0
2018-06-01 00:00:00  182           0     0     0           0                0

[183 rows x 6 columns]

In [115]:
row = down_dbs['press'].iloc[0]

In [121]:
for f in gc.FILE_TYPES:
    row = down_dbs[f].iloc[-1]
    string = ut.get_down_string_from_row(row=row,ftype=f)
    print(string)

2018/cdas1.20180601.pgrbh.tar
2018/cdas1.20180601.splgrbf.tar
2018/cdas1.20180601.sfluxgrbf.tar

In [228]:
import wrf_management.utilities as ut
importlib.reload(gc);
importlib.reload(ut);

In [229]:
row=ut.get_next_row_to_down(tb_name='press')

In [230]:
row.date

'2017-12-01 00:00:00'

In [231]:
ut.get_down_string_from_row(row=row, ftype='press')

'2017/cdas1.20171201.pgrbh.tar'

In [232]:
ut.update_sucess_down(row=row,tb_name='press')

        update press
        set downloaded=1
        where i=0

In [233]:
ut.get_tb_from_name(tb_name='press')

                       i  downloaded  path  name  uncompress  uncompress_path
date
2017-12-01 00:00:00    0           1     0     0           0                0
2017-12-02 00:00:00    1           0     0     0           0                0
2017-12-03 00:00:00    2           0     0     0           0                0
2017-12-04 00:00:00    3           0     0     0           0                0
2017-12-05 00:00:00    4           0     0     0           0                0
2017-12-06 00:00:00    5           0     0     0           0                0
2017-12-07 00:00:00    6           0     0     0           0                0
2017-12-08 00:00:00    7           0     0     0           0                0
2017-12-09 00:00:00    8           0     0     0           0                0
2017-12-10 00:00:00    9           0     0     0           0                0
2017-12-11 00:00:00   10           0     0     0           0                0
2017-12-12 00:00:00   11           0     0     0           0                0
2017-12-13 00:00:00   12           0     0     0           0                0
2017-12-14 00:00:00   13           0     0     0           0                0
2017-12-15 00:00:00   14           0     0     0           0                0
2017-12-16 00:00:00   15           0     0     0           0                0
2017-12-17 00:00:00   16           0     0     0           0                0
2017-12-18 00:00:00   17           0     0     0           0                0
2017-12-19 00:00:00   18           0     0     0           0                0
2017-12-20 00:00:00   19           0     0     0           0                0
2017-12-21 00:00:00   20           0     0     0           0                0
2017-12-22 00:00:00   21           0     0     0           0                0
2017-12-23 00:00:00   22           0     0     0           0                0
2017-12-24 00:00:00   23           0     0     0           0                0
2017-12-25 00:00:00   24           0     0     0           0                0
2017-12-26 00:00:00   25           0     0     0           0                0
2017-12-27 00:00:00   26           0     0     0           0                0
2017-12-28 00:00:00   27           0     0     0           0                0
2017-12-29 00:00:00   28           0     0     0           0                0
2017-12-30 00:00:00   29           0     0     0           0                0
...                  ...         ...   ...   ...         ...              ...
2018-05-03 00:00:00  153           0     0     0           0                0
2018-05-04 00:00:00  154           0     0     0           0                0
2018-05-05 00:00:00  155           0     0     0           0                0
2018-05-06 00:00:00  156           0     0     0           0                0
2018-05-07 00:00:00  157           0     0     0           0                0
2018-05-08 00:00:00  158           0     0     0           0                0
2018-05-09 00:00:00  159           0     0     0           0                0
2018-05-10 00:00:00  160           0     0     0           0                0
2018-05-11 00:00:00  161           0     0     0           0                0
2018-05-12 00:00:00  162           0     0     0           0                0
2018-05-13 00:00:00  163           0     0     0           0                0
2018-05-14 00:00:00  164           0     0     0           0                0
2018-05-15 00:00:00  165           0     0     0           0                0
2018-05-16 00:00:00  166           0     0     0           0                0
2018-05-17 00:00:00  167           0     0     0           0                0
2018-05-18 00:00:00  168           0     0     0           0                0
2018-05-19 00:00:00  169           0     0     0           0                0
2018-05-20 00:00:00  170           0     0     0           0                0
2018-05-21 00:00:00  171           0     0     0           0                0
2018-05-22 00:00:00  172           0     0     0           0                0
2018-05-23 00:00:00  173           0     0     0           0                0
2018-05-24 00:00:00  174           0     0     0           0                0
2018-05-25 00:00:00  175           0     0     0           0                0
2018-05-26 00:00:00  176           0     0     0           0                0
2018-05-27 00:00:00  177           0     0     0           0                0
2018-05-28 00:00:00  178           0     0     0           0                0
2018-05-29 00:00:00  179           0     0     0           0                0
2018-05-30 00:00:00  180           0     0     0           0                0
2018-05-31 00:00:00  181           0     0     0           0                0
2018-06-01 00:00:00  182           0     0     0           0                0

[183 rows x 6 columns]

In [267]:
import wrf_management.utilities as ut
importlib.reload(gc);
importlib.reload(ut);

In [268]:
ut.down_file('')

processor <urllib.request.HTTPCookieProcessor object at 0x1c22f4f7b8>
<urllib.request.OpenerDirector object at 0x1c22e2bac8>
downloading cdas1.20171231.pgrbh.tar...

KeyboardInterrupt:

In [273]:
!ls -la

total 184
drwxr-xr-x   9 diego  wheel    288 Feb 18 19:45 .
drwxr-xr-x  10 diego  wheel    320 Feb 18 19:42 ..
drwxr-xr-x   4 diego  wheel    128 Feb 18 13:38 .ipynb_checkpoints
-rw-r--r--   1 diego  wheel     86 Feb 18 13:30 __init__.py
-rw-r--r--   1 diego  wheel    304 Feb 18 19:30 auth.rda.ucar.edu
-rw-r--r--   1 diego  wheel    754 Feb 18 13:39 download.ipynb
-rw-r--r--   1 diego  wheel    273 Feb 18 13:39 download.py
-rw-r--r--   1 diego  wheel  73213 Feb 18 19:44 download_scratch.ipynb
-rw-r--r--   1 diego  wheel   1964 Feb 18 19:44 download_scratch.py